<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">International Burch University <br> LIBRARY</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">"Discover, Learn, and Innovate at IBU Library – your gateway to endless resources, research, and inspiration."</p>
                <a class="btn btn-primary btn-xl" href="#bookGenres">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2025 - International Burch University</div>
    </div>
</footer>